<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${user.getSurname()}"></h1>
    <h1 th:text="${user.getName()}"></h1>
    <h1 th:text="${user.getCountry()}"></h1>
    <h1 th:text="${user.getEmail()}"></h1>
    <h1 th:text="${user.getPhone()}"></h1>
</div>
<table class="table">
    <thead class="thead-purple">
    <th scope="col">status</th>
    <th scope="col">services total</th>
    <th scope="col">date</th>
    </thead>

    <tr class="tr-content" th:each="residence: ${residences}">
        <td th:text="${residence.getStatus()}"></td>
        <td th:text="${residence.getAmount()}"></td>
        <td th:text="${residence.getArrival()} + ' ' + ${residence.getDeparture()}"></td>
    </tr>
</table>
<div th:if="${activeResidence} != null">
    <form th:action="@{/residence/checkOut}" method="post">
        <button type="submit">check out</button>
    </form>
</div>
</body>
</html>